/* CSS RESET June 2024 ,@MiduDev*/
* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }
body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }
p { text-wrap: pretty; }
p{font-family: Helvetica;}
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }
img, video, svg { height: auto; max-width: 100%; }

html, body, #root {
    height: 100dvh;
}

:root {
  --bard-color-brand-text-gradient-stop-1: #C0C0C0;
  --bard-color-brand-text-gradient-stop-2: #B1B1B1;
  --bard-color-brand-text-gradient-stop-3: #A2A2A2;
  --gem-sys-color--surface: #CFCFCF;
  --white: rgba(255,255,255,1);
  --basecolor: #d5d7db;
  --lighter: #dddce7;
  --light: #B3B2AE;
  --medium: #91918F;
  --dark: #5d5e63;
  --darker: #293737;
  --darkest: #1a1d23;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--darkest);
    overscroll-behavior: none;
}

.centro {
    height: 100dvh;
    display: flex;
    flex-direction: row;
}

.faq {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 100dvh;
    background-color: var(--lighter);
}

nav > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

nav > ul> li {
    margin-block: 10px;
    margin-inline: 10px;
}

nav > ul > li> a {
    width: 100%;
    display: block; /*It's for adding the padding to the clickable zone*/
    padding-inline: 6px;
    padding-top: 1px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 4px;
    font-size: 14px;
}

nav > ul > li> a:hover {
    color: rgb(0, 0, 0);
    background-color: #9e9e9e;
    border: 1px solid var(--basecolor);
}

nav > ul > li> a:active {
    color: rgb(0, 0, 0);
    background-color: #dedede;
    border: 1px solid var(--basecolor);
}

.landing {
    height: 100%;
    flex: 1;
    overflow-y: scroll;
}

.faq {
    flex: 1;
}

.notFound {
    height: 100dvh;
    display: flex;
    flex-direction: row;
}

.notFound-message {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--basecolor)
}

.notFound-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faqIMG {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    object-position: middle;
}

.welcome {
    width: 100%;
    height: calc(100dvh - 30px);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    color: transparent;
    background: linear-gradient(74deg,var(--bard-color-brand-text-gradient-stop-1) 0,var(--bard-color-brand-text-gradient-stop-2) 9%,var(--bard-color-brand-text-gradient-stop-3) 20%,var(--bard-color-brand-text-gradient-stop-3) 24%,var(--bard-color-brand-text-gradient-stop-2) 35%,var(--bard-color-brand-text-gradient-stop-1) 44%,var(--bard-color-brand-text-gradient-stop-2) 50%,var(--bard-color-brand-text-gradient-stop-3) 56%,var(--gem-sys-color--surface) 75%,var(--gem-sys-color--surface) 100%); /*Altered gradient from Gemini's logo*/
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

#webLogo {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-left: 0px;
}

.githubLink {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.badge-gallery > img{
    margin: 20px;
}

figcaption {
    margin-left:10px;
}

.faq > article > h1 , .specialThanks > h1{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-inline: 10px;
    font-size: 22px;
    font-weight: 900;
    color: var(--darkest);
    background-color: var(--light);
}

article > section {
    color: var(--basecolor);
    margin-bottom: 20px;
}

article > section > h2, article > section > p {
    margin-inline: 10px;
}

article > section > h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 14px;
}

article > section > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.sidebarList{
    list-style: none;
}

.specialThanksList {
    margin-top: 10px;
    margin-left: 30px;
    list-style: disc;
}

.specialThanks {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.specialThanks > h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.specialThanks > ul> li, .specialThanks > ul> li > a, .specialThanks > ul> ul> li  {
    font-size: 14px;
    color: var(--basecolor);
}

.specialThanks > ul> li, .specialThanks > ul> ul> li {
    margin-bottom: 10px;
}

.specialThanks > ul> ul> li {
    margin-left: 12px;
}



#homeLi::before, #faqLi::before, #thanksLi::before, #repoLi::before{
    content: "";
    width: 14px;
    height: 14px;
    margin-right: 2px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

#homeLi::before{
    background-image: url('/assets/home-icon-silhouette.png');
}

#faqLi::before {
    background-image: url('/assets/question-and-answer.png');
}

#thanksLi::before {
    background-image: url('/assets/folded.png');
}

#repoLi::before {
    background-image: url('/assets/githubLogo.svg')
}

footer {
    width: 100%;
    margin-top: auto;
    font-size: 12px;
    background-color: var(--light);
    color: var(--darkest);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer > a {
    color: var(--darkest);
}

#menu, #menu_icon {
    display: none;
}

@media(max-width: 587px) and ( min-width: 392px) {

    .welcome, .notFound-message {
        font-size: 2.9vw;
    }

}


/*Mi iphone solo*/
@media(max-width: 391px) {

    .Sidebar.closed {
        background-color: rgba(0,0,0,0);
        width: 0px;
    }

    .Sidebar.opened {
        background-color: var(--lighter);
        width: 100%;
    }

    .sidebarList.opened{
        display: flex;
    }

    .sidebarList.closed{
        display: none;
    }

    #menu_icon{
        position: absolute;
        display: block;
        top: 20px;
        right: 30px;
        z-index: 999;
        width: 10vw;
        height: 10vw;
        background-color: rgba(221, 220, 231, 1);
        transition: all 1s;
        border: 1px solid transparent;
    }

    line{
        transition:all 0.3s;
        stroke: var(--darkest);
    }

    .specialThanks, .faq {
        margin-top: 60px;
    }

    .welcome, .notFound-message {
        font-size: 4vw;
    }

    #webLogo {
        margin-top: 80px;
    }

    nav > ul {
        align-items: center;
    }

    nav > ul> li > a {
        width: 200px;
        font-size: 18px;
        margin-block: 10px;
        padding-inline: 6px;
        padding-top: 8px;
        padding-bottom: 5px;
    }

    #homeLi::before, #faqLi::before, #thanksLi::before, #repoLi::before{
        width: 18px;
        height: 18px;
        margin-right: 8px;
    }

}